.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #245E71;
    -fx-text-fill: #BFE1EC;
}


.list-cell { /* <=== changed to even */
    -fx-background-color: #113945;
    -fx-text-fill: #BFE1EC;
}


.list-cell:filled:hover {
    -fx-background-color: #113945;
    -fx-text-fill: #BFE1EC;
}

.list-cell{
    -fx-font-size:30.0;
}